@using TaskManagementSystem.ViewModels
@model ProjectsUsersVM
@using Microsoft.AspNetCore.Identity
@using TaskManagementSystem.Areas.Identity.Data
@inject SignInManager<IdentityUsers> SignInManager
@inject UserManager<IdentityUsers> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Deadline" class="control-label"></label>
                <input asp-for="Project.Deadline" class="form-control" />
                <span asp-validation-for="Project.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Budget" class="control-label"></label>
                <input asp-for="Project.Budget" class="form-control" />
                <span asp-validation-for="Project.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Status" class="control-label"></label>
                <input asp-for="Project.Status" class="form-control" readonly style="background-color: lightgray; color:orangered" value="Pending" />
                <span asp-validation-for="Project.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.CreatedByUsername" class="control-label"></label>
                <input asp-for="Project.CreatedByUsername" class="form-control" readonly style="background-color: lightgray;" value="@UserManager.GetUserName(User)" />
            </div>




            <div class="form-group">
                <label for="memberCount" class="control-label">Number of Members:</label>
                <input type="number" id="memberCount" class="form-control" min="0" />

            </div>

            <div id="membersContainer"></div>


            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




@section scripts {
    <script>
        $(document).ready(function () {
            $('#memberCount').on('change', function () {
                var count = $(this).val();
                generateMemberDropdowns(count);
            });
        });

        var selectedValues = [];

        function generateMemberDropdowns(count) {
            var container = $('#membersContainer');
            container.empty();

            for (var i = 1; i <= count; i++) {
                (function (index) {
                    var dropdown = $('<div class="form-group">');
                    dropdown.append($('<label class="control-label">').text('Member ' + i + ':'));

                    var select = $('<select class="form-control">');
                    dropdown.append(select);
                    container.append(dropdown);

                    $.get('@Url.Action("GetUsersSelectList", "Projects")', function (data) {
                        var options = '';
                        $(data).each(function () {
                            var disabled = selectedValues.includes(this.value) ? 'disabled' : '';
                            options += '<option value="' + this.value + '" ' + disabled + '>' + this.text + '</option>';
                        });
                        select.html(options);

                        select.on('change', function () {
                            var selectedValue = $(this).val();
                            selectedValues.push(selectedValue);
                            $(this).find('option[value="' + selectedValue + '"]').attr('disabled', 'disabled');
                        });
                    });
                })(i);
            }
        }
    </script>
}

