@*@{
    ViewData["Title"] = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client</h1>

<div>
    <div class="row">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Notifications</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover" id="tblNotifications">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Notification</th>
                                <th>Date / Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


</div>

@section Scripts {

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script>

            "use strict";

            //define connection to hub
            var connection = new signalR.HubConnectionBuilder().withUrl("/NotificationsHub").build();

            //start the hub connection
            $(function () {
                connection.start().then(function () {
                    alert('Connected to NotificationsHub');
                    InvokeNotifications(); //to load existing list of notifications
                }).catch(function (err) {
                    return console.error(err.toString());
                });
            });
            //initially, we need to show the list of all notifications
            //So we will use our action method that returns Json
            function InvokeNotifications() {
                var url = "../Notifications/GetAll";
                $.get(url, function(nData)
                {
                    BindNotificationsToGrid(nData);
                }
                );
        };

            //the server will call this will updated notification list on every database change
            connection.on("getUpdatedNotifications", function (notifications) {
                BindNotificationsToGrid(notifications);
            });

        function BindNotificationsToGrid(notifications) {
            var tbody = $('#tblNotifications tbody');

            $.each(notifications, function (index, notification) {
                var tr = $('<tr/>');
                tr.append(`<td>${(index + 1)}</td>`);
                tr.append(`<td>${notification.message}</td>`);
                tr.append(`<td>${notification.status}</td>`); // Add the date/time field
                tbody.append(tr);
            });
        }



    </script>


}*@


@{
    ViewData["Title"] = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client</h1>

<div class="row" id="notificationCards"></div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script>
        "use strict";

        // Define connection to hub
        var connection = new signalR.HubConnectionBuilder().withUrl("/NotificationsHub").build();

        // Start the hub connection
        $(function () {
            connection.start().then(function () {
                console.log('Connected to NotificationsHub');
                invokeNotifications(); // Load existing list of notifications
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });

        // Initially, we need to show the list of all notifications
        // So we will use our action method that returns JSON
        function invokeNotifications() {
            var url = "../Notifications/GetAll";
            $.get(url, function (data) {
                bindNotificationsToCards(data);
            });
        };

        // The server will call this with updated notification list on every database change
        connection.on("getUpdatedNotifications", function (notification) {
            appendNotificationToCards(notification);
        });

        function appendNotificationToCards(notification) {
            var notificationCards = $('#notificationCards');
            var cardClass = notification.status === "Read" ? "text-success" : "text-warning";
            var card = $('<div class="col-md-4 mb-4">');
            var cardInner = $('<div class="card mb-3">');
            var cardHeader = $('<div class="card-header">');
            var cardStatus = $('<span class="font-weight-bold ' + cardClass + '">').text('Status: ' + notification.status);
            var cardBody = $('<div class="card-body">');
            var cardTitle = $('<h4 class="card-title">').text(notification.type);
            var cardDate = $('<p class="card-text">').text('Notification Date: ' + formatDate(notification.notification_Date));
            var cardButton = $('<a class="btn btn-primary">').text('Read Details').attr('href', '../Notifications/Details/' + notification.notificationId);

            cardHeader.append(cardStatus);
            cardBody.append(cardTitle, cardDate, cardButton);
            cardInner.append(cardHeader, cardBody);
            card.append(cardInner);
            notificationCards.prepend(card); // Prepend the new notification card at the beginning
        }


        function bindNotificationsToCards(notifications) {
            var notificationCards = $('#notificationCards');
            notificationCards.empty();

            notifications.forEach(function (notification) {
                var cardClass = notification.status === "Read" ? "text-success" : "text-warning";
                var card = $('<div class="col-md-4 mb-4">');
                var cardInner = $('<div class="card mb-3">');
                var cardHeader = $('<div class="card-header">');
                var cardStatus = $('<span class="font-weight-bold ' + cardClass + '">').text('Status: ' + notification.status);
                var cardBody = $('<div class="card-body">');
                var cardTitle = $('<h4 class="card-title">').text(notification.type);
                var cardDate = $('<p class="card-text">').text('Notification Date: ' + formatDate(notification.notification_Date));
                var cardButton = $('<a class="btn btn-primary">').text('Read Details').attr('href', '../Notifications/Details/' + notification.notificationId);

                cardHeader.append(cardStatus);
                cardBody.append(cardTitle, cardDate, cardButton);
                cardInner.append(cardHeader, cardBody);
                card.append(cardInner);
                notificationCards.append(card);
            });
        }

        function formatDate(date) {
            // Convert date to a readable format
            var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
            return new Date(date).toLocaleDateString(undefined, options);
        }
    </script>
}
