@model TaskManagementSystem.Models.Notification

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Details</h1>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Notification</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Message:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Message)</dd>

                <dt class="col-sm-3">Type:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>

                <dt class="col-sm-3">Status:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

                <dt class="col-sm-3">Username:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsernameNavigation.Username)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn fn-primarybtn text-white" style="background-color: #3d5361;">Back to List</a>
    </div>
</div>
