@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
<div class="col-lg-8">
        <img src="~/images/home-2.png" height="100%" width="100%" />
    </div>
    
    <div class="col-lg-4">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Task Management System! Our system is a powerful web-based application designed to simplify and streamline task management for our team. It provides a centralized platform where we can efficiently organize, track, and collaborate on tasks and projects.</p>

        <h1 class="display-4">Purpose</h1>
        <p>The purpose of our Task Management System is to enhance our team's productivity and efficiency by offering robust task management capabilities. It aims to eliminate confusion, improve communication, and ensure that everyone is on the same page when it comes to project deadlines and task assignments.</p>
</div>
</div>




<div class="row">

    <div class="col-lg-4">
        <h1 class="display-4">Features and Modules</h1>
        <p>Dashboard: a dynamic dashboard that provides an overview of ongoing tasks, upcoming deadlines, and important notifications. It gives us a quick snapshot of our team's progress and priorities.</p>

        <p>Task Creation and Assignment: With our system, we can easily create new tasks and assign them to team members. We can specify task details such as due dates, and add some comments to each task, ensuring that everyone understands their responsibilities and deadlines.</p>

        <p>Notifications and Reminders: Our system sends notifications and reminders to team members for upcoming deadlines, task updates, or mentions. This ensures that no important task or deadline is overlooked and that everyone stays informed and engaged.</p>


        <p> Collaboration and Communication: Our system promotes effective team collaboration through features like task comments and discussions. Team members can communicate, ask questions, and provide updates directly within the system, reducing the need for scattered email threads or separate communication tools.</p>
    </div>

    <div class="col-lg-8">
        <img src="~/images/home-1.png" height="100%" width="100%" />
    </div>
</div>


